
.faq-section {
    background-image: url("img/Notch img/IMG-20241213WA0056.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(148, 147, 147);
    padding: 100px 8%;
    
}
.faq-header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 60px;
}
.faq-header span {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
.line {
    height: 1px;
    background: #aaa;
    width: 120px;
}
/* GRID */
.faq-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 60px;
}
/* LEFT */
.faq-title {
    font-size: 55px;
    line-height: 1.1;
    font-weight: 400;
}
.faq-description {
    margin-top: 80px;
    max-width: 350px;
    color: #ccc;
    font-size: 17px;
    line-height: 1.7;
}

.learn {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}
.circle {

    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}


.circle:hover {
    color: black;
}

/* RIGHT */

.faq-box {
    background: #11121749;
    padding: 35px 70px;
}

.faq-item {border-bottom: 1px solid #555;}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    cursor: pointer;
}

.faq-question h3 {
    font-size: 25px;
    font-weight: 400;
    max-width: 450px;
}

.arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}


.faq-item.active .arrow {

    transform: rotate(90deg);
    color: black;

}



.answer {

    max-height: 0;
    overflow: hidden;

    color: #bbb;
    line-height: 1.7;

    transition: max-height .5s ease;

}


.answer p {

    padding-bottom: 30px;

}



@media(max-width:900px) {


    .faq-container {

        grid-template-columns: 1fr;

    }


    .faq-title {

        font-size: 40px;

    }


    .faq-box {

        padding: 20px;

    }


    .faq-question h3 {

        font-size: 20px;

    }

}